*{
    padding: 0px;
    margin: 0px;
}

:root{
    --naranja: #FA7609;
    --blanco: #eee;
    --okey: #00CC00;
    --amarillo: #F4C01E;
    --negro: #2F3237;
    --negroL1: #545961;
    --negroS2: #0C121C;
    --verdeS1 : #007A49;
    --verdeL1 : #2AA674; 
    --acento: #3368EE;
    --averiaSansLibre: 'Averia Sans Libre';
    --robotoSerif: 'Roboto Serif';
}


.cardOferta{
    position: relative;
    top: 20px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: -20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
 
.tituloOferta{
    margin-bottom: 5px;
}

.ImagenPrincipalOferta{
    padding-top: 10px;
    width: 100%;
    height: 76%;
    
    
}

.imagenJuegoOferta{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.subCardOferta{
    width: 100%;
    height: 22%;
    background-color: var(--negroS2);
    
    display: flex;
    flex-flow: row nowrap;
}

.tituloYPrecio{
    width: 33%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 10%;
}

.titulo-icono{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconoOferta{
    width: 30px;
    height: 30px;
}
.iconoOferta img{
    width: 100%;
    height: 100%;
}

.precios{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    position: relative;
    
}

.lineaOferta{
    position: absolute;
    z-index: 1;
}

.off{
    background: linear-gradient(to bottom, var(--negro), #000000);
    width: 25%;
    height: 18px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.off p{
    color: var(--blanco);
}

.precioViejo{
    width: 30%;
    height: 18px;
    background: linear-gradient( to bottom, #868699, var(--negro));
    background-color: #868686;
    display: flex;
    align-items: center;
    justify-content: center;
}
.precioViejo p{
    color: var(--blanco);
}
.precioOferta{
    width: 30%;
    height: 18px;
    background: linear-gradient(to bottom, var(--negro), #000000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.precioOferta p{
    color: var(--blanco);
}

p{
    font-size: 12px;
}


.galeriaOferta{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}


.imgGaleriaOferta{
    width: calc(100% / 5);
    height: 70%;    
    margin-left: 5px;
    background-color: #00CC00;
    border-radius: 10px;
}

.imgGalOfe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.agregarAAlCarrito{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnAgregarCarrito{
    height: 50%;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--negro), #000000);
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid #eeeeee;
    position: relative;
    left: 63%;

}
.btnAgregarCarrito h4{
    font-size: 10px;
    font-family: var(--robotoSerif);
    margin-right: 10px;
    color: #eeeeee;
}
.iconAgregarCarrito{
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .btnAgregarCarrito{
        left: 0;
    }
    .subCardOferta{
        justify-content: space-around;
    }
    .tituloYPrecio{
        width: 50%;
    }
    .off{
        height: 25px;
    }
    .precioViejo{
        height: 25px;
    }
    .precioOferta{
        height: 25px;
        
    }
    .lineaOferta{
        display: none;
    }
}