
.carruselAnimado{
    width: 80%;
}
.contenedorAnimado{
    display: flex;
    align-items: center;
    height: 600px;
    max-width: 1000px;
    position: relative;
}


    .cardOferta{
        position: relative;
        top: 80px;
        width: 60%;
        height: 400px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 30px;
        transition: all .3s ease-out;
        
    }
