
/* Variables*/
:root{
    --blanco: #eee;
    --negro: #2F3237;
    --negroS2: #0C121C;
    --verdeS1 : #007A49;
    --verdeL1 : #2AA674; 
    --averiaSansLibre: 'Averia Sans Libre';
}

.main{
    padding-top: none;
}
.breadcrum{

    height: 10px;

    width: 100%;
    height: 40px;

    display: flex;
    
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 40px;
    position: relative;
    right: 325px;
    top: 22px;
}
.textoBreadcrum{
    font-size: medium;
    color: #eee;
}

.contenedorJuego{
    width: 100%;
    height: 900px;
    float: right;
    display: flex;
    flex-direction: column;
    
    
}
.contenedorPantallaJuego{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pantallaJuego{
    background-color: black;
    width: 62%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}
.subPantallaJuego{
    width: 62%;
    height: 10%;
   
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.informacionJuego{
    width: 100%;
    height: 20%;
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imagenesJuego{
    width: 62%;
    height: 60%;
    background-color: brown;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.imgJuego{
    width: calc(100%/5);
    height: 100%;
    background-color: aqua;
    margin-left: 5px;
    margin-right: 5px;
    
}

.textoJuego{
    width: 50%;
    height: 30%;
    background-color: beige;
}

