:root{
    --naranja: #FA7609;
    --blanco: #eee;
    
    --negro: #2F3237;
    --negroL1: #545961;
    --negroS2: #0C121C;
    --verdeS1 : #007A49;
    --verdeL1 : #2AA674; 
    --acento: #3368EE;
    --averiaSansLibre: 'Averia Sans Libre';
    --robotoSerif: 'Roboto Serif';
}
.menuCategorias{
    position: absolute;
    transition: transform .5s ease-out;
    transform: translateX(0%);
    width: fit-content;
    height: fit-content;
    left: 0px;
    top: 71px;
    z-index: 1;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--negroS2);
    border-radius: 10px;
    padding-bottom: 30px;
}

.menuCategorias:hover .categoria{
    display: block;
}
.iconosMenu{
    list-style: none;
    width: 150%;
    height: auto;
    margin-top: -4px;
    border-radius: 10px; 
    
    
}
.iconosMenu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}
.categoria{
    display: none;
    position: relative;
    right: 40px;
}



.iconosMenu li p{
   font-family: var(--robotoSerif);
   font-size: 18px;
    color: var(--blanco);
    width: fit-content;
    padding-left: 15px;
    position: relative;
    right: 25px;


}

.iconM{
   position: relative;
   max-width: 100%;
   max-height: 100%;
    
}

.iconCategoria{
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuUsuario{
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: var(--negroS2);
    padding-bottom: 15px;
    border-radius: 10px ;
    position: absolute;
    right: 0px;
    top: 71px;
    z-index: 1;
}

.menuUsuario ul{
    width: 175px;
    height: fit-content;
}

.menuUsuario ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
}

.categoriaPerfil p{
    color: var(--blanco);
}

.lineaPerfil{
    width: 100%;
}




