:root{
    --naranja: #FA7609;
    --blanco: #eee;
    
    --negro: #2F3237;
    --negroL1: #545961;
    --negroS2: #0C121C;
    --verdeS1 : #007A49;
    --verdeL1 : #2AA674; 
    --acento: #3368EE;
    --averiaSansLibre: 'Averia Sans Libre';
    --robotoSerif: 'Roboto Serif';
}
.menuCategorias{
    position: fixed;
    transition: transform .5s ease-out;
    transform: translateX(-100%);
    width: fit-content;
    height: 87%;
    left: 0px;
    top: 8%;
    z-index: 1;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--negroS2);
    border-top: #eee solid 2px;
    padding-bottom: 30px;
    overflow-y: scroll;
    transition: all .5 ease-out;
    
}
::-webkit-scrollbar{
    width: 10px;
    height: 30px;
}
::-webkit-scrollbar-track{
    background-color: #0C121C;
}
::-webkit-scrollbar-thumb {
    background-color: var(--negroL1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--negro);
  }

.menuCategorias:hover .categoria{
    transition: all .5s ease-out;
    display: block;
}
.menuCategorias:hover{
    padding-right: 0%;
    
}
.iconosMenu{
    list-style: none;
    width:  fit-content;
    height: fit-content;
    margin-top: -4px;
    background-color: var(--negroS2);   
    
}
.iconosMenu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10PXpx;
}


.iconosMenu li:hover .iconM {
    transition: transform .4s ease-out;
    transform: scale(1.1);
    
}
.iconosMenu li:hover p{
    transition: transform .4s ease-out;
    transform: scale(1.2);
   
}

.categoria{
    display: none;
    position: relative;
    right: 40px;
    width: 50%;
    padding-left: 60px;
   

}



.iconosMenu li p{
   font-family: var(--robotoSerif);
   font-size: 18px;
    color: var(--blanco);
    width: fit-content;
    padding-left: 15px;
    position: relative;
    right: 25px;
    cursor: pointer;


}

.iconM{
   position: relative;
   max-width: 100%;
   max-height: 100%;
   cursor: pointer;
    
}


.iconCategoria{
    width: 28px;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    


}







.menuUsuario{
    display: none;
    width: 250px;
    height: fit-content;
    background-color: var(--negroS2);
    padding-bottom: 15px;
    position: fixed;
    right: 0px;
    top: 8%;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-top: 2px solid var(--blanco);
    
}


.menuUsuario ul{
    width: 100%;
    height: fit-content;
}

.menuUsuario ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
}

.categoriaPerfil p{
    color: var(--blanco);
    cursor: pointer;
}

.lineaPerfil{
    width: 100%;
}

.showPerfil{
    display: block;
}




