:root{

    --error: #CC0000;
    --naranja: #FA7609;
    --blanco: #eee;
    --okey: #00CC00;
    --amarillo: #F4C01E;
    --negro: #2F3237;
    --negroL1: #545961;
    --negroS2: #0C121C;
    --verdeS1 : #007A49;
    --verdeL1 : #2AA674; 
    --acento: #3368EE;
    --averiaSansLibre: 'Averia Sans Libre';
    --robotoSerif: 'Roboto Serif';
}
.containerRegistro{
    
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-registro{
    position: relative;
    top: 90px;
    width: 50%;
    height: fit-content;
    background-color: var(--negroS2);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 1; 
    justify-content: center;
    align-items: center;
}

.logoYtitulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logoTresEstrellasRegistro{
    width: 18%;
    height: fit-content;
    position: relative;
    left: 7%;
    
}
input{
    background-color: var(--blanco);
    border: 0px;
    border-radius: 5px;
    width: 100%;
    height: 40%;
}

.logoYtitulo h1{
    width: 50%;
    font-family: var(--averiaSansLibre);
    color: var(--blanco);
    font-size: 20px;
  
}

.inputFecha{
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin-bottom: 3px;
}
label h4{
    font-size: 12px;
    margin-bottom: 6px;
    
}
.inputFecha h4{
    font-size: 12px;
    margin-bottom: 6px;
    
}

.tituloFecha{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}
.inputRegistro{
    width: 50%;
    height: 60px;
    margin-top: 1%;
}

.form-registro{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}


h4 span{
    color: red;
}

.fecha{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 50%;
}

.fecha .textoChico{
    margin-bottom: 2px;
}

.fecha input{
    width: 100%;
    height: 20px;
}
.fecha .dia{
    width: 12%;
    height: fit-content;
}
.fecha .mes{
    width: 12%;
    height: fit-content;
}

.fecha .anio{
    width: 17%;
    height: fit-content;
}
.fecha div{
    margin-right: 4%;
}

.contenedorCaptcha{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}


.captcha{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 60%;
    background-color: var(--blanco);
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    margin-top: 4%;
    
}
.captcha .textoChico{
    color: var(--negroS2);
}
.robot{
    width: 20%;
    height: 20%;
}

.iconCaptcha{
    width: 30px;
    height: 30px;
}


.botonRegistrarse{
    width: 20%;
    height: 35px;
    position: relative;
    background-color: var(--acento);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    
}

.botonRegistrarse:hover{
    transition: all .3s ease-out;
    transform: scale(1.04);
}

.botonRegistrarse p{
    color: var(--blanco);
    font-size: 14px;
    font-family: var(--robotoSerif);
    font-weight: bold;
    cursor: pointer;
}


.separador{
    width: 80%;
    height: 2px;
    position: relative;
    
    margin-top: 4%;
}
.lineaSeparador{
    width: 100%;
    height: 100%;
}

.linksGyF{
    position: relative;
    margin-top: 8%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: fit-content;
    
}

.botonLink{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   height: 30%;
   padding: 4px;
   border-radius: 20px;
   width: 45%;
   margin-right: 4px;
   margin-left: 4px;
   text-decoration: none;
}
.facebook{
    background-color: #1877F2;
}
.google{
    background-color: var(--blanco);
}

.iconoLink{
    width: 25px;
    height: 25px;
}
.botonLink p{
    font-family: var(--robotoSerif);
    font-size: 12px;
    font-weight: bold;
}
.fontFace{
    color: var(--blanco);
    
}
.faceGoogle{
    color: var(--blanco);

}
.bajoRegistro{
    position: relative;
    
    margin-top: 7%;
    color: var(--blanco);
}
.tenesCuenta a{
    color: var(--acento);
}

.iconoEmail{
    background-image: url(../icons/email.svg);
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
    z-index: 1;
    position: absolute;
    right: 23%;
    top: 6.1%;
}

.iconoUsuario{
    background-image: url(../icons/userRegister.svg);
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
    z-index: 1;
    position: absolute;
    right: 23%;
    top: 21.5%;
}

.iconoContraseña{
    background-image: url(../icons/password.svg);
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
    z-index: 1;
    position: absolute;
    right: 23%;
    top: 36.8%;
}

.iconoContraseña2{
    background-image: url(../icons/password.svg);
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
    z-index: 1;
    position: absolute;
    right: 23%;
    top: 52%;
}


.error{
    transition: all .2s ease-out;
    display: none;
    color: var(--error);
    font-size: 12px;
    margin-top: 1px;
    font-weight: bold;
}

.errorShow{
    display: block;
}
.inputError{
    transition: all .2s ease-out;
    border: 2px solid var(--error);
}


.form-registro-login{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.iconUserLogin{
    background-image: url(../icons/userRegister.svg);
    background-repeat: no-repeat;
    width: 9%;
    height: 9%;
    z-index: 1;
    position: absolute;
    right: 21%;
    top: 14%;
}
.iconLockLogin{
    background-image: url(../icons/password.svg);
    background-repeat: no-repeat;
    width: 10%;
    height: 10%;
    z-index: 1;
    position: absolute;
    right: 20%;
    top: 46.9%;

}

.contenedorOK{
    width: 40%;
    height: 40%;
    position: absolute;
    z-index: 2; 
    left: 35%;
    top: 47%;
    display: none;
    
}

.iconOk{
    width: 30%;
    height: 30%;
    position: absolute;
    left: 19%;
    top: -21%;
    
}

.contenedorOK img{
    width: 100%;
    height: 100%;
}
.texto-OK{
    position: absolute;
    top: 10%;
    left: 14%;
}

.contenedorOK .texto-OK h1{
    color: var(--okey);
}

.contenedorOKclick{
    animation: registroOK 4s ease-out;
    display: block;
}

@keyframes registroOK{
    
        0% { opacity: 0.1; }
        100% { opacity: 1; }
      }

.registroOk{
    animation: registroOpacity 4s ease-out;
}

@keyframes registroOpacity{
        0% { opacity: 1; }
        100% { opacity: 0; }
}




