@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Gloock&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/* Variables*/
:root{
    --blanco: #eee;
    --negro: #2F3237;
    --averiaSansLibre: 'Averia Sans Libre';
}

body{
    background-color:var(--negro);
}

h3{
    color: var(--blanco);
    font-family: var(--averiaSansLibre);
    
}
/* Header */
header{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: #0C121C 2px solid;
    align-items: center;
}

.menuYlogo{
    width: 33%;
    align-items: flex-start;
}

.menuHamburguesa{
    color: solid var(--blanco);
    width: 8%;
    height: 5%;
    padding-left: 10px;
}

.buscador{
    align-items: center;
    margin: 0 auto;
    width: 33%;
    
}

.inputBuscar{
    background-color: var(--blanco);
    width: 80%;
    height: 25px;
    border-radius: 50px;
    padding-left: 20px;
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 33%;
}
.contenedorPerfil{
    width: 5%;
    height: 50%;
    margin-left: 15px;
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}





