@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Gloock&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/* Variables*/
:root{
    --blanco: #eee;
    --negro: #2F3237;
    --negroS2: #0C121C;
    --verdeS1 : #007A49; 
    --averiaSansLibre: 'Averia Sans Libre';
}

body{
    background-color:var(--negro);
}
/*Fuentes*/
h1{
    font-family: var(--averiaSansLibre);
    color: var(--blanco);
    font-size: 30px;
}

h2{
    font-family: var(--averiaSansLibre);
    color: var(--blanco);
    font-size: 24px;
}

h3{
    color: var(--blanco);
    font-family: var(--averiaSansLibre);
    font-size: 20px;
    
}
.textoChico{
    font-family: arial;
    color: var(--blanco);
}
/* Header */
header{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-bottom: var(--negroS2) 2px solid;
    align-items: center;
}

.menuYlogo{
    width: 33%;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    margin-left: 10px;
    
}

.menuHamburguesa{
    color: solid var(--blanco);
    width: 8%;
    height: 5%;
    padding-left: 10px;
    margin-right: 5px;
}
.logoTresEstrellas{
    width: 25% ;
    height: 8% auto;
    margin-bottom: 10px;
    margin-left: 20px;
    
}
.logoTresEstrellasFooter{
    width: 25% ;
    height: 8% auto;
    
    
}

.buscador{
    align-items: center;
    margin: 0 auto;
    width: 33%;
    
}

.inputBuscar{
    background-color: var(--blanco);
    width: 360px;
    height: 45px;
    border-radius: 50px;
    padding-left: 20px;
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 33%;
    margin-right: 15px;
}
.contenedorPerfil{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Footer */

footer{
    background-color: var(--negroS2);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-around;
}

.logoYNombre{
    width: 33%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}


.links{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.links div{
    margin: 20px;
}

.links div h3{
    margin: 6px;
}
.iconos{
    display: flex;
    justify-content: space-between;
}
.iconoRedes{
    width: 43px;
    height: 43px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Main*/


/* Card*/
.contenedorPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    }

.card{
    width: 250px;
    height: 200px;
    border-radius: 100px;
    margin: 10px;
}
.imgCard{
    width: 100%;
    height: 80%;
    background-color: gray;
    border-radius: 0px, 100px;
}

.subCard{
    width: 100%;
    height: 20%;
    background-color: var(--verdeS1);
}

.imgCard img{
    width: 100%;
    height: 100%;
}

